.question-wrap {
    background-color: #EEF3FF;
    padding: 1rem 2rem;
    border-radius: 20px;
    // margin-top: 1rem;
    h3 {
        text-align: center;
    }
}

.nav-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}