.positif_wrap {
    padding: 1rem .5rem;
    background-color: #FFDF6C !important;
    h5 {
        margin: 0;
    }
}

.sembuh_wrap {
    padding: 1rem .5rem;
    background-color: #D1F8D2 !important;
    h5 {
        margin: 0;
    }
}

.meninggal_wrap {
    padding: 1rem .5rem;
    background-color: #F1A196 !important;
    h5 {
        margin: 0;
    }
}