.box_wrap {
    background-color: #EEF3FF;
    padding: 1rem 1.5rem 3rem 1.5rem;
    margin-bottom: 5rem;
}

.diagnosis_wrap {
    background-color: #8CABFD;
    border-radius: 20px;
    margin-bottom: 1.5rem;
    h3 {
        padding-top: 1rem;
        text-align: center;
        margin: 0;
    }
    p {
        margin: 0;
        text-align: center;
    }
    .img_box {
        text-align: center;
    }
}

.halodoc_logo {
    margin-top: 2rem;
    background-color: #fff;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    border-radius: 20px;
}

.alodokter_logo {
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem 1.3rem 1.5rem 1rem;
    border-radius: 20px;
}