.paper_wrap {
    padding: 1rem 1rem;
    background-color: rgba(253, 211, 198, 0.72) !important;
    height: 130px;
    p {
        font-size: 16px;
        margin: 0;
    }
    .icon_right {
        text-align: right;
    }
}

.container_wrap {
    // margin-bottom: 100px;
    margin-top: 2rem;
}